body{
	background-color: #ffffff;
}

#parent{
	background-color: #003300;
	margin: 10%;
	display: flex;
	justify-content: space-around;
	border-radius: 4%;
}

.child{
	background-color: #ffffff;
	margin: 4%;
	width: 25%;
	text-align: center;
	border-radius: 5%;

}
img{
	height: 40%;
	width: 70%;
	margin: 5%;
}
p{
	font-size: 25px;
	font-weight: initial;
}

a{
	text-decoration: none;
	font-size: 22px;
	color: black;
}